* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tw Cen MT", Arial, sans-serif;
}
body {
  height: 100vh;
  background-color: #ffebebce;
}

article {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto;
  row-gap: 60px;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

nav a:link {
  display: inline-block;
  margin-top: 10px;
  margin-right: 25px;
  font-size: 30px;
}

nav a:link:first-child {
  margin-left: 100px;
}

a:link {
  text-decoration: none;
  color: #000000b9;
}

a:visited {
  color: #000000b9;
  text-decoration: none;
}

a:hover {
  color: #000000b9;
  font-weight: bold;
}

a:active {
  color: #000000b9;
  font-style: italic;
}

button {
  display: inline-block;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  border: none;
  text-align: center;
  background-color: #000000b9;
  color: #fff;
  font-size: 20px;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.461);
  background-color: #545151b9;
  color: #ffffff;
}

.main-header {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 20px 20px;
  border-bottom: #000000b9 solid 2px;
}

.copyright {
  text-align: right;
  padding: 10px 20px;
  font-size: 14px;
}

.r1col1 {
  grid-row: 1;
  grid-column: 1;
  padding-top: 10%;
  padding-left: 30px;
  margin-right: 20px;
}

.r1col2 {
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.r1col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%; /* the container fills the grid cell height */
  padding: 10px;
}
.r1col2 .item1 {
  padding: 10px;
  width: 80%; /* relative to the flex container */
  text-align: center;
  font-size: 30px;
}

.r1col2 .item2 {
  width: 60%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.r2col1 {
  grid-row: 2;
  grid-column: 1;
  padding-top: 50px;
  padding-left: 30px;
  margin-right: 20px;
}

.r2col2 {
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.r2col2 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 10px;
}
.r2col2 .item1 {
  width: 80%;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.r2col2 .item2 {
  width: 60%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.r3col1 {
  grid-row: 3;
  grid-column: 1;
  padding-top: 50px;
  padding-left: 30px;
  margin-right: 20px;
}

.r3col2 {
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.r3col2 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  align-items: center;
  justify-content: space-around; /* Space items vertically!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  height: 100%;
  padding: 10px;
}
.r3col2 .item1 {
  width: 80%;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.r3col2 .item2 {
  width: 60%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.r4col1 {
  grid-row: 4;
  grid-column: 1;
  padding-top: 50px;
  padding-left: 30px;
  margin-right: 20px;
}

.r4col2 {
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.r4col2 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 10px;
}
.r4col2 .item1 {
  width: 80%;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.r4col2 .item2 {
  text-align: center;
  width: 60%;
  padding: 10px;
  font-size: 20px;
}

.r5col1 {
  grid-row: 5;
  grid-column: 1;
  padding-top: 50px;
  padding-left: 30px;
  margin-right: 20px;
}

.r5col2 {
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.r5col2 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 10px;
}

.r5col2 .item1 {
  width: 80%;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.r5col2 .item2 {
  width: 60%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.r6col1 {
  grid-row: 6;
  grid-column: 1;
  padding-top: 50px;
  padding-left: 30px;
}

.r6col2 {
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.r6col2 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 10px;
}
.r6col2 .item1 {
  width: 80%;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.r6col2 .item2 {
  width: 60%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.item1 {
  color: #000000b9;
}

/*responsive style: collapse navigation on smaller screens*/
@media (max-width: 1200px) {
  .nav-menu {
    display: none;
  }
  .img {
    width: 130%;
    height: auto;
  }
  .text-p.item2 {
    font-size: 110%;
  }
}

@media (max-width: 600px) {
  .img {
    margin-top: 30%;
    width: 150%;
    height: auto;
  }

  .item2 {
    font-size: 90%;
  }

  .img2 {
    margin-top: 80%;
  }

  .img3 {
    margin-top: 70%;
  }

  .img4 {
    margin-top: 80%;
  }

  .img5 {
    margin-top: 65%;
  }
}
