* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tw Cen MT", Arial, sans-serif;
  color: #000000;
}
body {
  height: 100vh;
  background-color: #f6ead1;
}

article {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

nav a:link {
  display: inline-block;
  margin-top: 10px;
  margin-right: 25px;
  font-size: 30px;
}

nav a:link:first-child {
  margin-left: 100px;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  font-weight: bold;
}

a:hover .museum-div {
  transform: scale(1.05); /* zoom effect */
  box-shadow: 0 8px 16px rgb(0, 0, 0);
}

a:active {
  color: rgb(0, 0, 0);
  font-style: italic;
}

button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 15px 32px;
  border: none;
  background-color: #000;
  font-size: 20px;
  color: #fff;
}

button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  background-color: #f9f2de;
  color: #000;
}

.main-header {
  display: flex;
  flex-direction: row;
  grid-row: 1;
  gap: 60px;
  padding: 20px 20px;
  border-bottom: #000000 solid 2px;
  color: #000;
}

.overlay-paragraph {
  position: absolute;
  width: 90%;
  top: 40%;
  left: 10%;
  max-width: 100px;
  max-height: fit-content;
  text-align: center;
  padding: 20px;
  background-color: #f6ead1;
  color: rgb(0, 0, 0);
}

.overlay-text {
  font-size: 300%;
}

.copyright {
  text-align: right;
  padding: 10px 20px;
  font-size: 14px;
}

/*responsive style*/
@media (max-width: 1200px) {
  .nav-menu {
    display: none;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 60%;
  }

  item1 {
    font-size: 100%;
  }
  .item1-2nd {
    margin-right: -0.5%;
  }
}

@media (max-width: 700px) {
  .overlay-paragraph {
    top: 30%;
    width: 30%;
    max-height: 80%;
    padding: 20px;
    background-color: #f6ead1;
  }
  .overlay-text {
    font-size: 180%;
  }

  /* .r3 {
    column-gap: 6%;
  } */
  /* .museum-p {
    font-size: 30%;
  } NOT WORKING */
}

.text {
  margin-top: 5%;
  margin-left: 6%;
  margin-right: 6%;
}

.item1 {
  font-size: 550%;
}

.item2 {
  padding-top: 2%;
  font-weight: normal;
  font-size: 150%;
}

.item1-2nd {
  margin-left: 57%;
  font-size: 550%;
}

.r2col1 {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-top: 3%;
}

.img1 {
  margin-right: 12.5%;
  margin-top: 6%;
}

.tepes {
  margin-left: 1.2%;
}

.r3 {
  display: flex;
  flex-direction: row;
  row-gap: 6%;
  justify-content: space-between;
  align-items: stretch; /* all items stretch to the same height */
  margin: 1.5% 6% 4% 6%;
}

.museum-div {
  display: flex;
  flex-direction: column;
}
.museum-img {
  width: 25vw;
  height: 30vh;
}

.museum-p {
  font-weight: normal;
  font-size: 105%;
}

.item1-2nd {
  margin-right: -0.5%;
}

@media (max-width: 630px) {
  .item1-2nd {
    margin-left: 170px;
  }
}
